<h1>
  <%= @asked_question.title %>
</h1>

<%= form_for @user_answer, url: {action: "answer"} do |f| %>
  <% @possible_answers.each do |possible_answer| %>
    <%= f.radio_button(:possible_answer_id, possible_answer.id) %> <%= possible_answer.content %><br/>
  <% end %>
  <%= f.submit "> Following question" %>
<% end %>

<!-- possible_answer_id: integer -->
